<!-- <div class="modal-header">
    <h3 class="modal-title">ngAside</h3>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok($event)">OK</button>
    <button class="btn btn-warning" ng-click="cancel($event)">Cancel</button>
</div> -->


<!-- <script src="lib/prefixfree.min.js"></script>
<canvas id=c></canvas>
<script src="lib/hexa.js"></script> -->


<div class="animation-body" id="container">
	<div class="animation-div" id="a1">   <div class="animation-div" id="a11"></div>   </div>
    <div class="animation-div" id="a2">   <div class="animation-div" id="a21"></div>   </div>
    <div class="animation-div" id="a3"></div>
    <div class="animation-div" id="a4"></div>
    <div class="animation-div" id="a5"></div>
    <div class="animation-div" id="a6">Loading...</div>
    <div class="animation-div" id="a7">
    	<span id="a71"></span>
    	<span id="a73">
        	<b class="a731">Level 1</b>
            <b class="a732">Chapter 1</b>
        </span>
    	<span id="a74">
        	<b class="a741">1st Hour</b>
            <b class="a742">/24Hours</b>
            <b class="a743"></b>
        </span>
        <span id="a76">0 items</span>
    </div>
    <div class="animation-div" id="a8">
    	<div class="animation-div" id="a81"></div>
    </div>
    <div class="animation-div" id="a9">
    	<span>95837357</span>:
        <span> 19890811</span>.
        <span>16958</span>:
        <span>759781799</span>&nbsp;
        <span> Burp</span>
    </div>
    <div class="animation-div" id="a10">
    	Arcadia Project
        <span></span>
    </div>
    <div class="animation-div" id="b1">
    	<span class="b11"></span>
        <span class="b12"></span>
        <span class="b13"></span>
        <span class="b14"></span>
        <span class="b15"></span>
        <span class="b16"></span>
        <span class="b17"></span>
        <span class="b18"></span>
        <span class="b19"></span>
        <span class="b110"></span>
    </div>
    <!-- <div class="animation-div" id="figure">

        <div class="animation-div" id="a7">
            <span id="a71">Level Starting.</span>
            <span id="a73">
                <b class="a731">Goal:</b>
                <b class="a732">Obtain</b>
            </span>
            <span id="a74">
                <b class="a741">Asteroid</b>
                <b class="a742"> Material</b>
                <b class="a743"></b>
            </span>
            <span id="a76"></span>
        </div>

    	<div class="animation-div" id="f1"></div>
    	<div class="animation-div" id="f2"></div>

		<div class="animation-div" id="f3">
        	<div class="animation-div" id="f31">   <span class="f311"><b></b></span>   <span class="f312"><b></b></span>   </div>
            <div class="animation-div" id="f32">   <span class="f321"></span>   <span class="f322"></span>   </div>
            <div class="animation-div" id="f33"></div>
            <div class="animation-div" id="f34"></div>
        </div>

        <div class="animation-div" id="f4">
        	<div class="animation-div" id="f41"></div>
            <div class="animation-div" id="f42"></div>
            <div class="animation-div" id="f43" class="f431"></div>
            <div class="animation-div" id="f43" class="f432"></div>
            <div class="animation-div" id="f43" class="f433"></div>
            <div class="animation-div" id="f43" class="f434"></div>
        </div>

        <div class="animation-div" id="f5"></div>

        <div class="animation-div" id="f6"></div>
        <div class="animation-div" id="f7">
        	<div class="animation-div" id="f71"></div>
            <div class="animation-div" id="f72"></div>
        </div>
        <div class="animation-div" id="f8">
        	<div class="animation-div" id="f81"></div>
            <div class="animation-div" id="f82"></div>
        </div>
        <div class="animation-div" id="f9">
        	<span></span>
        </div>

    </div> -->
</div>

<script>
// from Michel.j ©2015 Webull Design
  var i = 0;
	var a3 = $('#a3');
	var a4 = $('#a4');
	var a5 = $('#a5');
	var a8 = $('#a8');
	var f2 = $('#f2');
	var f1 = $('#f1');
	var f5 = $('#f5');

	for (i = 1; i < 11; i++) {
		a3.append('<span class=a3'+i+'></span>');
		$('.a3'+i+'').css({
			'-webkit-animation' : 'a3 1s '+(Math.random()*2)+'s  infinite',
			'-moz-animation' : 'a3 1s '+(Math.random()*2)+'s  infinite'
		});
	}
	setInterval(function() {
		$('#a3 span').each(function() {
    		$(this).text(Math.ceil(Math.random()*999));;
		});
	}, 100);

	for (i = 1; i < 31; i++) {
		a4.append('<span class=a3'+i+'></span>');
		setInterval(function() {
			$('#a4 span').each(function() {
				$(this).width((Math.random()*15));
			});
		}, 500);
	}

	for (i = 1; i < 16; i++) {
		a5.append('<span><b class=a5'+i+'></b></span>');
		$('.a5'+i+'').css({
			'-webkit-animation' : 'a3 1s 0.'+i+'s  infinite',
			'-moz-animation' : 'a3 1s 0.'+i+'s  infinite'
		});
	}

	setInterval(function() {
		var h = Math.ceil(Math.random()*24);
		var m = Math.ceil(Math.random()*60);
		if (h<10) {$('.a731').text('0'+h+':');}
		else {$('.a731').text(h+':');}
		if (m<10) {$('.a732').text('0'+m);}
		else {$('.a732').text(m);}
	}, 100);

	setInterval(function() {
		var d = Math.ceil(Math.random()*30);
		var m = Math.ceil(Math.random()*12);
		var min = 1700, max = 1999;
		var rand = min - 0.5 + Math.random()*(max-min+1)
		rand = Math.round(rand);

		if (d<10) {$('.a741').text('0'+d+'/');}
		else {$('.a741').text(d+'/');}
		if (m<10) {$('.a742').text('0'+m+'/');}
		else {$('.a742').text(m+'/');}
		$('.a743').text(rand);
	}, 50);

	for (i = 1; i < 41; i++) {
		a8.append('<span></span>');
	}

	setInterval(function() {
		var mino = 10000, maxo = 99999;
		var rand = mino - 0.5 + Math.random()*(maxo-mino+1);
		rand = Math.round(rand);

		var mine = 100000000, maxe = 999999999;
		var ran = mine - 0.5 + Math.random()*(maxe-mine+1);
		ran = Math.round(ran);

		$('#a9 span:odd').text(rand);
		$('#a9 span:even').text(ran);

	}, 100);


	for (i = 1; i < 37; i++) {
		f2.append('<span class=f2'+i+'></span>');
		$('.f2'+i+'').css({
			'-webkit-transform' : 'rotateZ('+i+'0deg) translateY(95px)'
		});
	}

	for (i = 1; i < 19; i++) {
		f5.append('<span class=f5'+i+'><b>'+Math.random()*30+'</b></span>');
		$('.f5'+i+'').css({
			'-webkit-transform' : 'rotateZ('+i*2+'0deg) translateY(40px)'
		});
	}

	for (i = 1; i < 13; i++) {
		f1.append('<span class=f1'+i+'></span>');
		$('.f1'+i+'').css({
			'-webkit-transform' : 'rotateZ('+i*30+'deg) translateY(91px)'
		});
	}</script>
